.product-card {
    width: 93%;
    padding-right: 2.5rem;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6;
}

.product-title {
    font-size: 1.75rem;
    color: #4a5568;
    cursor: pointer;
    transition-duration: 0.3s;
}

.product-title:hover {
    color: #dc2626;
}

.product-image {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.item-title {
    width: 13rem;
}

.item-info {
    width: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a0aec0;
    gap: 1rem;
    border: 1px solid #cbd5e0;
    padding: 0.75rem;
}

.item-info p {
    font-size: 1rem;
    color: #000;
}

.item-quantity {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.item-quantity button {
    border: 1px solid #000;
    height: 1.5rem;
    width: 2rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    color: #000;
    cursor: pointer;
    transition-duration: 0.3s;
}

.item-quantity button:hover {
    background-color: #4a5568;
    color: #fff;
}

.item-quantity button:active {
    background-color: #000;
}

.item-price {
    width: 2.5rem;
    color: #000;
    font-size: 1.5rem;
}

.reset-utton {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #f56565;
    color: #fff;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 2rem;
}

.add-to-cart-button {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #4975c1;
    color: #fff;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}