.product-card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    cursor: pointer;
    padding: 20px;
    margin: 20px;
  }
  
  .product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    height: 200px;
    width: 200px;
    border: 1px solid #c5ccd6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
  }
  
  .product-image img {
    height: 190px;
    width: 190px;
    object-fit: contain;
  }
  
  .product-details {
    margin-left: 5vh;
    flex: 1;
    justify-content: flex-start;
    /* background-color: #0056b3; */
  }
  
  .product-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .product-price {
    font-size: 16px;
    color: #888;
  }
  
  .add-to-cart {
    padding: 10px 18px;
    background-color: #0056b3;
    color: #FFF;
    height: 6vh;
    width: 45%;
}
  .add-to-cart-button:hover {
    padding: 10px 18px;
    background-color: #0056b3;
  }
  
  .cart-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    width: 50%;
}